.career-journey {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;

  animation: floatIn 1s ease-out forwards;
}

.story-container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.story-left {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
}

.quote-mark {
  font-family: var(--font-decor);
  font-size: clamp(5rem, 10vw, 9rem);
  text-align: center;
  line-height: 1;
  color: rgba(0,0,0,0.08);
  margin-bottom: 3rem;
}

.story-left h5 {
  font-size: var(--p-font-size);
  font-family: var(--font-main);
  color: var(--text-color-medium);
  font-style: italic;
  line-height: 1.6;
  justify-content: left;
  align-items: left;
}

.story-left p {
  font-size: var(--font-size-md);
  font-family: var(--font-secondary);
  line-height: 1.7;
  color: var(--text-color-medium);
  max-width: 600px;
}

.highlight {
  background: rgba(59,130,246,0.15);
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  color: var(--text-color-dark);
}

.overlap-right {
  position: relative;
  text-align: right;

  animation: floatIn linear both;
  animation-timeline: view(); 
  animation-range: entry 10% cover 30%; 
}

.overlap-right::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  
  background: url("../../assets/tech-pattern.png") center/cover no-repeat;
  opacity: 0.4; 
  z-index: -1; 
}

.bg-journey {
  font-size: var(--main-title);
  font-weight: 900;
  color: var(--secondary-color);
  opacity: 0.8;
  line-height: 1;
  white-space: nowrap;

  position: absolute;
  margin-left: 230px;
}

.bg-career {
  font-size: var(--main-title);
  font-weight: 900;
  color: var(--secondary-color);
  opacity: 0.8;
  line-height: 1;
  white-space: nowrap;
}


.image-wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: right;
}

.image-wrapper img {
  width: 280px;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-xl);
}

.about-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-graphic {
  position: relative;
  overflow: hidden;
}
.tech-pattern {
  height: 600px;
  width: 600px;
  opacity: 0.4;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  filter:
    drop-shadow(var(--shadow-md));
  transform: rotate(-12deg);
}