.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--section-title);
  font-family: var(--font-main);
  color: var(--primary-color);

}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 40px;
}