.projects-section {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    position: relative;
}

.projects-title {
     display: flex;

  justify-content: center;
  align-items: center;

  margin: 50px auto 0 auto;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    color: #1F2F98;
    margin-bottom: 50px;
}