.projects-section {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    position: relative;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--section-title);
    font-family: var(--font-main);
    color: var(--primary-color);
}